<a href="/users/pins">Back</a><br>

<h1>Edit Pin!</h1>
<br>
<%=image_tag @pin.image_url(:display)%>

<div class="form-group col-md-4">
    <%= form_for :pin do |f| %>

        Title: <%= f.text_field :title, class: 'form-control' %><br>
        Description: <%= f.text_area :description, class: 'form-control' %><br>
        Tags (separated by comma): <%= f.text_area :tag_list, class: 'form-control' %><br>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "Submit", class:"btn btn-primary" %>
    
    <% end %>
</div>