<a href="/pins/<%=@pin.id%>/add_to_board">Save to board</a>
Uploader: <a href="/users/<%=@user.id%>"><%=@user.first_name%></a>

<%=@pin.title%><br>
<%=@pin.description%><br>
<%=image_tag @pin.image.url%>

<%= raw @pin.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>