<h1><%=@user.first_name%> <%=@user.last_name%></h1>
<p><a href="/follower"><%=current_user.followers_count%> followers</a> | <a href="/following"><%=current_user.follow_count%> following</p></a>
<p><%=@user.description%></p>

<% if @user.avatar.url.present?%>
    <%=image_tag @user.avatar_url(:thumb)%>
<% else %>
	<img src="http://res.cloudinary.com/puiyoke/image/upload/w_150,c_scale/v1527590348/default_avatar.png">
<%end%>
<br>
<br>
<a href="/users/edit">Edit Profile</a><br>
<a href="boards">Boards</a> | <a href="pins">Pins</a>
<br><br>
<a href="/">Back</a>