<h1><%=@user.first_name%> <%=@user.last_name%></h1>
<p><%=@user.followers_count%> followers | <%=@user.follow_count%> following</p>
<p><%=@user.description%></p>

<% if @user.avatar.url.present?%>
    <%=image_tag @user.avatar.thumb.url%>
<% else %>
	<img src="https://s3.amazonaws.com/pinpinpinbucket/default_avatar.png">
<%end%>

<div>
    <%if current_user.following?(@user)%>
        <%=button_to "Following", {action: 'unfollow', id: @user.id}, method: 'post', remote: true%>
    <%elsif current_user != @user%>
        <%=button_to "Follow", {action: 'follow', id: @user.id}, method: 'post', remote: true%>
    <%end%>
</div>
